mixin operation_indicator_menu_about
	input#inMenuItemValue(type="hidden", value="#{inMenuItem}")
	input#menuListType(type="hidden", value="#{listType}")

mixin operation_bar_on_menu_article_list
	div#my-menu-article-op-btn-group.my-common-op-btn-group
		form#edit_article(name="edit_article", method="POST", action="/resource/newArticleForMenu")
			input(type="hidden", name="articleId")
			input(type="hidden", name="menuId")
			input(type="hidden", name="menuFullPath")
			input(type="hidden", name="listType")
			button.btn.btn-mini.btn-primary.btn-add(type="button") Add
			

mixin article_list_type_one
	if itemLst && itemLst.length > 0
		each item, idx in itemLst
			div.single-resource-item
				div.alert.alert-info.article-title 
					| &nbsp; 
					a.single-title-name(title="#{item.title}", my-article-id="#{item.id}", my-article-more=true) #{item.title}
					div.article-more-operations
						ul.inline
							li.icon-edit(title="Edit #{item.title}", 
								my-article-id="#{item.id}", my-article-edit=true)
					div.article-add-date #{item.addDate}
				div.article-desc
					div.article-summary-container
						div.article-summary #{item.summary}
							a.article-read-more(title="Read the full article", 
								my-article-id="#{item.id}", my-article-more=true) more...
					if item.author
						div.article-author
							| by &nbsp; #{item.author}
		


mixin menu_article_edit_form
	div.form-edit-container
	div.form-edit
		form#add-edit-menu-article.form-horizontal(name="add-edit-menu-article", method="POST", action="/resource/editMenuArticle")
			input(type="hidden", name="articleId", value="#{editBo.id}")
			input(type="hidden", name="menuId", value="#{menuId}")
			input(type="hidden", name="listType", value="#{listType}")
			div.control-group
				label.control-label(for="article-title") Title
				div.controls
					input#article-title(name="articleTitle", type="text", size="24", maxlength="128", placeholder="Title", value="#{editBo.title}")
			div.control-group
				label.control-label(for="article-summary") Summary
				div.controls
					textarea#article-summary(name="articleSummary", rows="5", cols="40", maxlength="256", placeholder="Summary")
						| #{editBo.summary}
			div.control-group
				label.control-label(for="article-content") Content
				div.controls
					textarea#article-content(name="articleContent", rows="20", cols="40", placeholder="Content")
						| #{editBo.content}
			div.control-group
				div.submit-button-group
					button#add-edit-menu-article-submit.btn.btn-middle.btn-primary(type="button") Submit
					

mixin article_operation_header_generator(menuPath)
	if menuPath
		- var menuPaths = menuPath.split(" > ")
		if (menuPaths && menuPaths.length > 0) 
			- var menuLen = menuPaths.length
			each pathTmp, i in menuPaths
				if i == menuLen-1
					li 
						a #{pathTmp}
				else
					li.active 
						a #{pathTmp}
						span.divider /

include ../../common/tag

mixin menu_article_content_detail
	div.article_content_container
		div.article_operation_header
			ul.breadcrumb
				+article_operation_header_generator(menuFullPath)
		blockquote
			p #{article.title}
			small #{article.addDate}
				if article.author
					| &nbsp; by
					cite(title="#{article.author}") #{article.author}
	div.article_tag_container
		//+list_tags_in_container(['aa', 'bb', 'cc', 'hello', 'yes', 'this', 'is', 'for', 'editable', 'tags', 'yes', 'this', 'is', 'for', 'editable', 'tags'], 'Resource', article.id)
	div.article_tag_container
		//+list_tags_in_container_readonly(['yes', 'this', 'is', 'for', 'readonly', 'tags'])
	div.menu_article_content_summary
		div.media
			a.pull-left
				img.media-object(src="/images/_test/pollen_flower.png")
			div.media-body #{article.summary}
	div.menu_article_content_content
		| !{article.content}
