div.task-edit-container
	div.task-edit
		form#add-edit-task.form-horizontal(name="add-edit-task")
			input(type="hidden", name="taskId", value="#{editBo.id}")
			div.control-group
				label.control-label(for="task-name") Name
				div.controls
					input#task-name(type="text", placeholder="Task Name", value="#{editBo.taskName}")
			div.control-group
				label.control-label Priority
				div.controls
					select#task-priority.span3
						option(value=1) Important
						option(value=2) Urgency
						option(value=3) Urgency &amp; Important
					input#task-priority-val(type="hidden", value="#{editBo.priority}")
			div.control-group
				label.control-label Date
				div.controls
					div#datetimepicker1.input-append.date
						input.task-date(type="text", size="10", value="#{editBo.onDate}", readonly)
						span.add-on
							i.icon-th
			div.control-group
				label.control-label
					label.checkbox
						input.my-task-time-check(type="checkbox") 
						| Time
				div.controls.my-task-edit-time-range.hidden
					div#datetimepicker-time-from.input-append.date
						input.task-date(type="text", size="10", value="#{editBo.fromTime}", readonly)
						span.add-on
							i.icon-calendar
					span.task-time-from-label To
					div#datetimepicker-time-to.input-append.date
						input.task-date(type="text", size="10", value="#{editBo.toTime}", readonly)
						span.add-on
							i.icon-calendar
			div.control-group
				label.control-label(for="task-desc") Description
				div.controls
					textarea#task-description(rows="3", cols="10", placeholder="Task Description")
						| #{editBo.mydesc}
			div.control-group.hidden
				div.submit-button-group
					button#add-edit-task-submit.btn.btn-middle.btn-primary(type="button") Submit
					
script(type='text/javascript', src="/javascripts/list/list-json-edit.js")