mixin list_todo_items(items)
	if items.length < 1
		div.alert.alert-success.my-task-group-no-data No items were found!
	else
		each item, i in items
			div.single-date-work
				div.work-date
					div.work-date-expand
						span.icon-fold.icon-chevron-down
						span= item.items.length
					| #{item.mydate}
				ol.work-items
					each subItem in item.items
						li
							div.item-name
								| !{subItem.titleHtml}
								div.item-name-op-group(data-el-id="#{subItem.id}")
									ul.inline
										li.icon-edit
										li.icon-remove
							div.item-desc
								| !{subItem.desc}

mixin operation_bar_on_task
	div.mywork-op-btn-group
		button.btn.btn-mini.btn-primary.btn-add(type="button") Add

mixin list_page_footer_script
	script(type='text/javascript', src="/javascripts/tinymce/tinymce.min.js")
	script(type='text/javascript', src="/javascripts/common/richtext.js")
	script(type='text/javascript', src="/javascripts/layoutabout/commonApp.js")
	script(type='text/javascript', src="/javascripts/mywork/work-home.js")
	
mixin list_page_header_css
	link(rel='stylesheet', href='/stylesheets/mywork/mywork.css')